PAYLOCK_PORT=8080
PAYLOCK_MAX_FILE_SIZE_MB=500
# PAYLOCK_FFMPEG_PATH=ffmpeg
# PAYLOCK_FFPROBE_PATH=ffprobe
PAYLOCK_WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.walrus.space
PAYLOCK_WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space

# Sui network config
# PAYLOCK_SUI_RPC_URL=https://fullnode.testnet.sui.io:443
PAYLOCK_PAYWALL_PACKAGE_ID=0xe1a529343f1c8f78af6d92c302524eab3731b13897a0c9ba98d7548ffeb90a90